<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GymPortal.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        @await Html.PartialAsync("_Navbar")
    </header>

    @if (TempData["Message"] != null)
{
    <div data-alert class="fixed top-6 right-6 z-50 bg-green-500 text-white px-6 py-3 rounded-xl shadow-lg font-dm text-sm">
        @TempData["Message"]
    </div>
}

    <div class="w-full">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <partial name="_Footer" />
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        setTimeout(() => {
            const el = document.querySelector('[data-alert]');
            if (el) {
                el.style.transition = "opacity 0.5s";
                el.style.opacity = "0";
                setTimeout(() => el.remove(), 500);
            }
        }, 2500);
    </script>
</body>
</html>
