<nav class="bg-[#0b0f1a] font-dm m-4 px-8 py-4 rounded-2xl shadow-lg">
    <div class="flex items-center justify-between">

        <div class="flex items-center gap-3">
            <a asp-controller="Home" asp-action="Index">
                <img src="/images/logos/corefitness-logo.svg" class="h-8" alt="Logo" />
            </a>
        </div>

        <div class="hidden md:flex items-center gap-8 text-sm">
            <a asp-controller="Home" asp-action="Index" class="text-white hover:text-[#D6EB31]">Fitness Centers</a>
            <a asp-controller="Membership" asp-action="Index" class="text-white hover:text-[#D6EB31]">Memberships</a>
            <a href="#" class="text-white hover:text-[#D6EB31]">Training</a>
            <a href="#" class="text-white hover:text-[#D6EB31]">Customer Service</a>
            <a href="#" class="text-white hover:text-[#D6EB31]">Store</a>
        </div>

        <div class="flex items-center gap-6">
            <a asp-area="Identity" asp-page="/Account/Register" 
               class="text-white text-sm hover:text-[#D6EB31] transition">
                Become Member
            </a>

            <a asp-area="Identity" asp-page="/Account/Login"
               class="bg-lime-400 text-black px-5 py-2 rounded-full text-sm font-medium hover:bg-lime-300 transition">
                Sign In >
            </a>
        </div>

    </div>
</nav>